

@font-face {
    font-family: 'Raleway';
    src: url('raleway-v18-latin-regular.eot'), format('eot'),
         url('raleway-v18-latin-regular.svg'), format('svg'),
         url('raleway-v18-latin-regular.ttf'), format('ttf'),
         url('raleway-v18-latin-regular.woff'), format('woff'),
         url('raleway-v18-latin-regular.woff2'), format('woff2')
}

header
{
    background-color: darkslategrey;
}

a
{
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1200px)
{
    #première_partie
    {
        display: flex;
    }

    #titre
    {
        position: absolute;
        right: 4.5em;
    }
    #lien_pages
    {
        display: flex;
        position: absolute;
        right: 10em;
        word-spacing: 2em;
        color:#000;
        text-decoration:none;
        justify-content: space-around;
        width: 16em;
    }

    #conteneur
    {
        position: top;
        margin : 4em;
        display: flex;
        background-color: blueviolet;
    }
    
    .test:hover
    {
        color: blue;
        padding : 3.8em 0 0 0;
        border-top : 0.2em solid blue;
    }

    #titres
    {
        position: relative;
        right: 2em;
    }
    
    h1, p, a
    {
        font-family: 'Raleway';
    }

    #titre_header
    {
        margin : 4em;
        background-color: brown;
    }

    #titre_gras
    {
        font-weight: bold;
        color: blue;
    }

    #barre_de_recherche
    {
        display: flex;
        margin: 4em;
        background-color: burlywood;
    }

    #logo
    {
        background-color: #F2F2F2;
        text-align: center;
        width: 3em;
        border-radius: 10px 0 0 10px;
    }

    input
    {
        border-radius: 0 0 0 0;
        height: 2em;
        border-color: #F2F2F2;
        font-family: 'Raleway';
        font-weight: bold;
        box-shadow: none;
        outline: none;
    }

    #button_recherche
    {
        height: 2.2em;
        border-radius: 0 10px 10px 0;
        text-align: center;
        line-height: 0.2em;
        width: 7.6em;
        background-color: #0065FC;
    }

    .Rechercher
    {
        color: white;
        font-weight: bold;
    }

    #Filtres
    {
        display: flex;
        margin: 4em;
        background-color: cornflowerblue;
    }

    #appliquer_filtres
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 9em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #logo_filtres
    {
        z-index: 1;
        position: relative;
        top : 0.3em;
        margin-left: 2em;
        height: 2.7em;
        background-color: #DEEBFF;
        text-align: center;
        width: 2.7em;
        border-radius: 50px 50px 50px 50px;
    }

    #appliquer_filtres_s
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 7em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_s:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 7em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 9em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_sp
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_sp:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #info
    {
        display: flex;
        margin: 4em;
        background-color: darkkhaki;
    }

    #flex1, #flex2, #flex3, #flex4
    {
        display: flex;
    }

    #info_logo
    {
        position: relative;
        top : 0.5em;
        text-align: center;
        width: 1.7em;
        height: 1.7em;
        border-radius: 50px 50px 50px 50px;
        border : 2px solid #F2F2F2;
    }

    #info_txt
    {
        position: relative;
        left : 0.5em;
    }

    #mobile
    {
        display: flex;
    }

}


@media screen and (max-width: 1199px)
{
    #conteneur
    {
        position: top;
        background-color: blueviolet;
    }
    
    #image_logo
    {
        margin-left: 2em;
    }

    #titre
    {
        position: absolute;
        right: 2em;
        top: 1.5em;
    }

    #première_partie
    {
        display: flex;
    }

    #lien_pages
    {
        color:#000;
        text-decoration:none;
        font-size: 0.9em;
        display: flex;
        position: absolute;
        background-color: chartreuse;
        justify-content: space-around;
        width: 98%;
    }
    
    h1, p, a, h2
    {
        font-family: 'Raleway';
    }

    #titre_header
    {
        margin: 1.5em;
        background-color: brown;
        font-size: 1em;
    }

    #titre_gras
    {
        font-weight: bold;
        color: blue;
    }

    #barre_de_recherche
    {
        display: flex;
        margin: 2em;
        background-color: burlywood;
    }

    #logo
    {
        background-color: #F2F2F2;
        text-align: center;
        width: 3em;
        border-radius: 10px 0 0 10px;
    }

    input
    {
        border-radius: 0 0 0 0;
        height: 2em;
        border-color: #F2F2F2;
        font-family: 'Raleway';
        font-weight: bold;
        box-shadow: none;
        outline: none;
    }

    #button_recherche
    {
        height: 2.2em;
        border-radius: 0 10px 10px 0;
        text-align: center;
        line-height: 0.2em;
        width: 7.6em;
        background-color: #0065FC;
    }

    .Rechercher
    {
        color: white;
        font-weight: bold;
    }

    #Filtres
    {
        margin-left: 1em;
        background-color: cornflowerblue;
    }

    #mobile
    {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        background-color: cadetblue;
        height: 10em;
    }

    #appliquer_filtres
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 8.2em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #logo_filtres
    {
        z-index: 1;
        position: relative;
        top : 0.3em;
        height: 2.7em;
        background-color: #DEEBFF;
        text-align: center;
        width: 2.7em;
        border-radius: 50px 50px 50px 50px;
    }

    #appliquer_filtres:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 8.2em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_s
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 6em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_s:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 6em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_sp
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_sp:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #info
    {
        display: flex;
        margin: 1.5em;
        background-color: darkkhaki;
    }

    #flex1, #flex2, #flex3, #flex4
    {
        display: flex;
    }

    #info_logo
    {
        position: relative;
        top : 0.5em;
        text-align: center;
        width: 2em;
        height: 1.5em;
        border-radius: 50px 50px 50px 50px;
        border : 2px solid #F2F2F2;
    }

    #info_txt
    {
        position: relative;
        left : 0.5em;
    }

    #partie_1
    {
        background-color:beige;
        justify-content: space-between;
    }

    #titre_1
    {
        margin-top: 2em;
        margin-left: 1em;
        display: flex;
        width: 98%;
        justify-content: space-between;
    }

    #balise_photo_xs
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
    }

    #balise_photo_xs_partie2
    {
        text-align: center;
        width: 98%;
    }

    h2 
    {
        font-size: 1.2em;
    }
}