

@font-face {
    font-family: 'Raleway';
    src: url(/font/raleway-v18-latin-regular.eot), format('eot'),
        url(/font/raleway-v18-latin-regular.svg), format('svg'),
        url(/font/raleway-v18-latin-regular.ttf), format('ttf'),
        url(/font/raleway-v18-latin-regular.woff), format('woff'),
        url(/font/raleway-v18-latin-regular.woff2), format('woff2');
}

a
{
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1080px)
{

    header
    {
    position: relative;
    right: 0.5em;
    width: 101%;
    }

    .star_style_grey
    {
        color: #F2F2F2;
    }

    .star_style
    {
        color: #0065FC;
    }

    .logo1_style
    {
        background-color: #F2F2F2;
        position: relative;
        top: 1.5em; 
        right: 2em;
    }

    #info_style
    {
        position: relative; 
        top: 0.2em; 
        color: #0065FC;
    }

    .font_style
    {
        position: relative; 
        top: 0.7em; 
        color: #0065FC;
    }

    #logo_span
    {
        position: relative; 
        top: 0.4em;
    }

    h4
    {
    font-size: 1.5em;
    }

    body
    {
        width: 99%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    #première_partie
    {
        display: flex;
    }

    #titre
    {
        position: absolute;
        right: 4.5em;
    }
    #lien_pages
    {
        display: flex;
        position: absolute;
        right: 10em;
        word-spacing: 2em;
        color:#000;
        text-decoration:none;
        justify-content: space-around;
        width: 16em;
    }

    #conteneur
    {
        margin : 4em;
        display: flex;
    }
    
    .hover_link:hover
    {
        color: #0065FC;
        padding : 3.9em 0 0 0;
        border-top : 0.2em solid #0065FC;
    }

    .balise_hotel
    {
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 4%;
        width: 25%;
        height: 50%;
    }

    #titres
    {
        position: relative;
        right: 2em;
    }
    
    h1, p, a, h2, h4
    {
        font-family: 'Raleway';
    }

    #titre_header
    {
        margin-left : 4em;
    }

    #titre_gras
    {
        font-weight: bold;
        color: #0065FC;
    }

    #barre_de_recherche
    {
        display: flex;
        margin: 4em;
    }

    #logo
    {
        background-color: #F2F2F2;
        text-align: center;
        width: 3em;
        border-radius: 10px 0 0 10px;
        height: 2.2em;
    }

    input
    {
        border-radius: 0 0 0 0;
        height: 2.2em;
        font-family: 'Raleway';
        font-weight: bold;
        box-shadow: none;
        outline: none;
    }

    #button_recherche
    {
        height: 2.4em;
        border-radius: 0 10px 10px 0;
        text-align: center;
        line-height: 0.2em;
        width: 7.6em;
        background-color: #0065FC;
    }

    .Rechercher
    {
        color: white;
        font-weight: bold;
    }

    #Filtres
    {
        display: flex;
        margin: 4em;
    }

    .appliquer_filtres
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 9em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    .logo_filtres
    {
        z-index: 1;
        position: relative;
        top : 0.3em;
        margin-left: 2em;
        height: 2.7em;
        background-color: #DEEBFF;
        text-align: center;
        width: 2.7em;
        border-radius: 50px 50px 50px 50px;
    }

    #appliquer_filtres_familial
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 7em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_familial:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 7em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    .appliquer_filtres:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 9em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_animaux
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_animaux:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #info
    {
        display: flex;
        margin: 4em;
    }

    .flex_div
    {
        display: flex;
    }

    #info_logo
    {
        position: relative;
        top : 0.5em;
        text-align: center;
        width: 1.7em;
        height: 1.7em;
        border-radius: 50px 50px 50px 50px;
        border : 2px solid #F2F2F2;
    }

    #info_txt
    {
        position: relative;
        left : 0.5em;
    }

    #mobile
    {
        display: flex;
    }

    #vue_ordi
    {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 42em;
    }

    #partie_1
    {
        background-color: #F2F2F2;
        position: relative;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 10px 10px 10px 10px;
        order: 2;
        padding-left: 1em;
        padding-right: 1em;
    }

    #titre_1
    {
        margin-left: 1em;
        display: flex;
        width: 98%;
        justify-content: space-between;
    }

    #balise_photo_hotel_le_soleil
    {
        height: 100%;
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
    }

    #balise_photo_hotel_le_soleil:hover
    {
        height: 100%;
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_au_coeur_de_l_eau
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        height: 100%;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
    }

    #balise_photo_hotel_au_coeur_de_l_eau:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        height: 100%;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #flex_p1
    {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #balise_photo_hotel_bleu_et_blanc
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        height: 100%;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        overflow: hidden;
        z-index: 3;
    }

    #balise_photo_hotel_bleu_et_blanc:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        height: 100%;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        overflow: hidden;
        z-index: 3;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    .size
    {
        max-height: 9em;
        height: 9em;
        max-width: 15em;
        overflow: hidden;
    }

    .photos_partie2
    {
        text-align: center;
        z-index: 2;
        min-width: 57%;
        position: relative;
        right: 2em;
        background-color: white;
        border-radius: 0 10px 10px 0;
    }

    h2 
    {
        font-size: 1em;
    }

    #logo_p1_matin
    {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 10px 10px;
    }

    #logo_p1_eau
    {
        object-fit: cover;
        border-radius: 10px 10px 10px 10px;
        width: 100%;
        height: 100%;
    }

    .size_partie2
    {
        max-height: 8em;
        height: 8em;
        width: 100%;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
    }

    

    #logo_p1_bleu
    {
        object-fit: cover;
        width: 100%;
        height: 200% ;
        border-radius: 10px 10px 10px 10px;
        position: relative;
        bottom: 4em;
    }

    #partie_2
    {
        background-color: #F2F2F2;
        width: 65%;
        height: 100%;
        border-radius: 10px 10px 10px 10px;
        order: 1;
    }

    #flexbox_p2
    {
        display: flex;
        flex-wrap: wrap;
    }

    #titre_2
    {
        margin-left: 5%;
    }

    #titre_4
    {
        margin-bottom: 2em;
        margin-left: 2em;
        margin-top: 4em;
    }

    #balise_photo_hotel_canebiere
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
    }

    #balise_photo_hotel_canebiere:hover
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    .balise_photo_hotel
    {
        text-align: left;
        position: relative;
        background-color: white;
        width: 100%;
        height: 4.7em;
    }

    .balise_photo_hotel_amina
    {
        text-align: left;
        position: relative;
        background-color: white;
        width: 100%;
        height: 4.7em;
    }

    .balise_photo_hotel_mer
    {
        text-align: left;
        position: relative;
        background-color: white;
        width: 100%;
        height: 4.7em;
    }

    .balise_photo_hotel_panier
    {
        text-align: left;
        position: relative;
        background-color: white;
        width: 100%;
        height: 4.7em;
    }

    .logo_p2_p3_photo
    {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .logo_p2_p3_photo_mer
    {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .logo_p2_p3_photo_amina
    {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .proche
    {
        position: relative;
        bottom: 1em;
    }

    .proche_1
    {
        position: relative;
        bottom: 1.7em;
    }

    #balise_photo_hotel_du_port
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
    }

    #balise_photo_hotel_du_port:hover
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_les_mouettes
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
    }

    #balise_photo_hotel_les_mouettes:hover
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_la_mer
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
    }

    #balise_photo_hotel_la_mer:hover
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_le_panier
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
    }

    #balise_photo_hotel_le_panier:hover
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_amina
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
    }

    #balise_photo_hotel_amina:hover
    {
        height: 100%;
        width: 100%;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_activite_vieux_port
    {
        margin-left: 3em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 55%;
        overflow: hidden;
        width: 69.12%;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_activite_vieux_port:hover
    {
        margin-left: 3em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 55%;
        overflow: hidden;
        width: 69.12%;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_activite_pomegues
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 25%;
        overflow: hidden;
        width: 80%;
        box-shadow: 1px 1px 12px #b7aead;
        position: relative;
        right: 6%;
    }

    #balise_photo_activite_pomegues:hover
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 25%;
        overflow: hidden;
        width: 80%;
        box-shadow: 1px 1px 12px #DEEBFF;
        position: relative;
        right: 6%;
    }

    #balise_photo_activite_frioul
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 25%;
        overflow: hidden;
        width: 80%;
        position: relative;
        top: 5%;
        box-shadow: 1px 1px 12px #b7aead;
        position: relative;
        right: 6%;
    }

    #balise_photo_activite_frioul:hover
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 25%;
        overflow: hidden;
        width: 80%;
        position: relative;
        top: 5%;
        box-shadow: 1px 1px 12px #DEEBFF;
        position: relative;
        right: 6%;
    }

    #balise_photo_activite_calanques
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 55%;
        overflow: hidden;
        width: 85.547%;
        box-shadow: 1px 1px 12px #b7aead;
        position: relative;
        right: 7%;
    }

    #balise_photo_activite_calanques:hover
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 55%;
        overflow: hidden;
        width: 85.547%;
        box-shadow: 1px 1px 12px #DEEBFF;
        position: relative;
        right: 7%;
    }

    #balise_photo_activite_notre_dame
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 25%;
        overflow: hidden;
        width: 88.015%;
        box-shadow: 1px 1px 12px #b7aead;
        position: relative;
        right: 4%;
    }

    #balise_photo_activite_notre_dame:hover
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 25%;
        overflow: hidden;
        width: 88.015%;
        box-shadow: 1px 1px 12px #DEEBFF;
        position: relative;
        right: 4%;
    }

    #balise_photo_activite_longchamp
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 25%;
        overflow: hidden;
        width: 88.015%;
        position: relative;
        top: 5%;
        box-shadow: 1px 1px 12px #b7aead;
        position: relative;
        right: 4%;
    }

    #balise_photo_activite_longchamp:hover
    {
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 25%;
        overflow: hidden;
        width: 88.015%;
        position: relative;
        top: 5%;
        box-shadow: 1px 1px 12px #DEEBFF;
        position: relative;
        right: 4%;
    }

    #titre_3
    {
        position: relative;
        bottom: 9%;
        left: 5%;
    }

    #partie_3
    {
        width: 100%;
        height: 80%;
    }

    #partie_4
    {
        display: flex;
        width: 100%;
    }

    .balise_photo_activite
    {
        text-align: left;
        position: relative;
        bottom: 5em;
        background-color: white;
        width: 100%;
        height: 4em;
    }

    .titre_p3
    {
        position: relative;
        top: 1em;
    }

    #balise_photo_activite_fort
    {
        text-align: left;
        position: relative;
        bottom: 4.8em;
        background-color: white;
        width: 100%;
        height: 4em;
        border-radius: 0 0 10px 10px;
    }

    footer
    {
        background-color: #F2F2F2;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #footer
    {
        margin: 2em;
        display: flex;
        justify-content: space-around;
    }

    .flexbox_footer
    {
        position: relative;
        right: 10%;
    }

    footer p:hover
    {
        text-decoration: underline;
    }
}


@media screen and (max-width: 1079px)
{

    #vue_ordi
    {
        width: 100%;
    }


    .star_style_grey
    {
        color: #F2F2F2;
    }


    .flex_div
    {
        display: flex;
    }

    .star_style
    {
        color: #0065FC;
    }

    .logo1_style
    {
        background-color: #F2F2F2;
        position: relative;
        top: 1.5em; 
        right: 2em;
    }

    #info_style
    {
        position: relative; 
        top: 0.2em; 
        color: #0065FC;
    }

    .font_style
    {
        position: relative; 
        top: 0.7em; 
        color: #0065FC;
    }
    
    #logo_span
    {
        position: relative; 
        top: 0.4em;
    }

    h4
    {
        font-size: 1.4em;
    }

    #lien_pages a
    {
        position: relative;
        left: 0.5em;
        padding : 0 3.4em 0 3.4em;
        border-bottom : 0.2em solid grey;
    }

    #lien_pages a:hover
    {
        position: relative;
        right: 0.5em;
        padding : 0 3.4em 0 3.4em;
        border-bottom : 0.2em solid blue;
    }

    body
    {
        width: 99%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    #conteneur
    {
        position: relative;
        top: 0;
    }
    
    #image_logo
    {
        margin-left: 2em;
    }

    #titre
    {
        position: absolute;
        right: 2em;
        top: 1.3em;
    }

    #première_partie
    {
        display: flex;
        width: 100%;
    }

    #lien_pages
    {
        color:#000;
        text-decoration:none;
        font-size: 0.9em;
        display: flex;
        position: absolute;
        justify-content: space-around;
        width: 98%;
    }
    
    h1, p, a, h2, h4
    {
        font-family: 'Raleway';
    }


    header
    {
    position: relative;
    right: 0.5em;
    width: 100%;
    }

    #titre_header
    {
        margin: 1.5em;
        font-size: 1em;
    }

    #titre_gras
    {
        font-weight: bold;
        color: blue;
    }

    #barre_de_recherche
    {
        display: flex;
        margin: 2em;
    }

    #logo
    {
        background-color: #F2F2F2;
        text-align: center;
        width: 3em;
        border-radius: 10px 0 0 10px;
    }

    input
    {
        border-radius: 0 0 0 0;
        height: 2em;
        width: 10em;
        border-color: #F2F2F2;
        font-family: 'Raleway';
        font-weight: bold;
        box-shadow: none;
        outline: none;
    }

    #button_recherche
    {
        height: 2.2em;
        border-radius: 0 10px 10px 0;
        text-align: center;
        line-height: 0.2em;
        width: 7.6em;
        background-color: #0065FC;
    }

    .Rechercher
    {
        color: white;
        font-weight: bold;
    }

    #Filtres
    {
        margin-left: 1em;
    }

    #mobile
    {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 10em;
    }

    .appliquer_filtres
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 8.2em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    .logo_filtres
    {
        z-index: 1;
        position: relative;
        top : 0.3em;
        height: 2.7em;
        background-color: #DEEBFF;
        text-align: center;
        width: 2.7em;
        border-radius: 50px 50px 50px 50px;
    }

    .appliquer_filtres:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 8.2em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_familial
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 6em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_familial:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 6em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_animaux
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_animaux:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #info
    {
        display: flex;
        margin: 1.5em;
    }

    #flex1, #flex2, #flex3, #flex4
    {
        display: flex;
    }

    #info_logo
    {
        position: relative;
        top : 0.5em;
        text-align: center;
        width: 2em;
        height: 1.5em;
        border-radius: 50px 50px 50px 50px;
        border : 2px solid #F2F2F2;
    }

    #info_txt
    {
        position: relative;
        left : 0.5em;
    }

    #partie_1
    {
        background-color:#F2F2F2;
        position: relative;
        right: 0.5em;
        padding-bottom: 2em;
        width: 101%;
    }

    #titre_1
    {
        margin-top: 2em;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    #titre_1_marge
    {
        position: relative;
        left: 1em;
    }

    #balise_photo_hotel_le_soleil
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        max-height: 140px;
    }

    #balise_photo_hotel_le_soleil:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        max-height: 140px;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_au_coeur_de_l_eau
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        position: relative;
        top: 0.5em;
        max-height: 140px;
    }

    #balise_photo_hotel_au_coeur_de_l_eau:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        position: relative;
        top: 0.5em;
        max-height: 140px;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_bleu_et_blanc
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        position: relative;
        top: 1em;
        max-height: 140px;
    }

    #balise_photo_hotel_bleu_et_blanc:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        position: relative;
        top: 1em;
        max-height: 140px;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    .photos_partie2
    {
        text-align: center;
        max-width: 13em;
        min-width: 13em;
        z-index: 2;
        background-color: white;
        border-radius: 0 10px 10px 0;
    }

    h2 
    {
        font-size: 1.2em;
    }

    #logo_p1_matin
    {
        z-index: 1;
        width: 120%;
        height: 100%;
        border-radius: 10px 10px 10px 10px;
    }

    #logo_p1_eau
    {
        z-index: 1;
        width: 120%;
        height: 100%;
        border-radius: 10px 10px 10px 10px;
    }

    #logo_p1_bleu
    {
        z-index: 1;
        width: 120%;
        height: 100%;
        border-radius: 10px 10px 10px 10px;
    }

    #partie_2
    {
        padding-bottom: 6em;
        width: 101%;
        position: relative;
        right: 0.5em;
    }

    #titre_2, #titre_4
    {
        margin-left: 1em;
    }

    #balise_photo_activite_vieux_port
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_activite_vieux_port:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    .balise_photo_hotel
    {
        text-align: left;
        position: absolute;
        bottom: 0;
        background-color: white;
        width: 100%;
        height: 35%;
        z-index: 1;
    }


    ._photo
    {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        bottom: 3em;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 1px 1px 12px #b7aead;
    }

    .logo_p2_p3_photo_mer
    {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        bottom: 8em;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 1px 1px 12px #b7aead;
    }

    .logo_p2_p3_photo_amina
    {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        bottom: 13em;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 1px 1px 12px #b7aead;
    }

    .proche
    {
        position: relative;
        bottom: 2em;
    }

    .proche_1
    {
        position: relative;
        bottom: 2.7em;
    }

    .proche_2
    {
        position: relative;
        bottom: 1em;
    }

    #balise_photo_hotel_canebiere
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_hotel_canebiere:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_du_port
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 1em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_hotel_du_port:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 1em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_activite_pomegues
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 1em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_activite_pomegues:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 1em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_les_mouettes
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 2em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_hotel_les_mouettes:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 2em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_activite_frioul
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 2em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_activite_frioul:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 2em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_la_mer
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 3em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_hotel_la_mer:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 3em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_activite_calanques
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 3em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_activite_calanques:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 3em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_hotel_le_panier
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 4em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_hotel_le_panier:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 4em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_activite_notre_dame
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 4em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_activite_notre_dame:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 4em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }


    #balise_photo_hotel_amina
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 5em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_hotel_amina:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: #DEEBFF;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 5em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #balise_photo_activite_longchamp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 5em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_activite_longchamp:hover
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 5em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #DEEBFF;
    }

    #titre_3
    {
        margin-left: 1em;
        position: relative;
        top: 5em;
    }

    #partie_3
    {
        padding-bottom: 6em;
        position: relative;
        right: 0.5em;
        width: 101%;
    }

    .balise_photo_activite
    {
        text-align: left;
        position: relative;
        bottom: 5.3em;
        background-color: white;
        width: 100%;
        height: 4em;
    }

    .titre_p3
    {
        position: relative;
        top: 1em;
    }

    #balise_photo_activite_fort
    {
        text-align: left;
        position: relative;
        bottom: 5.3em;
        background-color: white;
        width: 100%;
        height: 4.4em;
        border-radius: 0 0 10px 10px;
    }

    footer
    {
        background-color: #F2F2F2;
        width: 101%;
        position: relative;
        right:0.5em;
        padding-bottom: 4em;
    }

    #footer
    {
        background-color:#F2F2F2 ;
        margin: 2em;
        position: relative;
        top: 3em;
    }

    footer p:hover
    {
        text-decoration: underline;
    }
}