

@font-face {
    font-family: 'Raleway';
    src: url('raleway-v18-latin-regular.eot'), format('eot'),
         url('raleway-v18-latin-regular.svg'), format('svg'),
         url('raleway-v18-latin-regular.ttf'), format('ttf'),
         url('raleway-v18-latin-regular.woff'), format('woff'),
         url('raleway-v18-latin-regular.woff2'), format('woff2')
}

header
{
    position: relative;
    right: 0.5em;
    width: 101%;
}

a
{
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 1200px)
{
    h4
    {
    font-size: 1.5em;
    }

    body
    {
        width: 99%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #première_partie
    {
        display: flex;
    }

    #titre
    {
        position: absolute;
        right: 4.5em;
    }
    #lien_pages
    {
        display: flex;
        position: absolute;
        right: 10em;
        word-spacing: 2em;
        color:#000;
        text-decoration:none;
        justify-content: space-around;
        width: 16em;
    }

    #conteneur
    {
        margin : 4em;
        display: flex;
    }
    
    .test:hover
    {
        color: blue;
        padding : 4.3em 0 0 0;
        border-top : 0.2em solid blue;
    }

    #titres
    {
        position: relative;
        right: 2em;
    }
    
    h1, p, a, h2, h4
    {
        font-family: 'Raleway';
    }

    #titre_header
    {
        margin : 4em;
    }

    #titre_gras
    {
        font-weight: bold;
        color: blue;
    }

    #barre_de_recherche
    {
        display: flex;
        margin: 4em;
    }

    #logo
    {
        background-color: #F2F2F2;
        text-align: center;
        width: 3em;
        border-radius: 10px 0 0 10px;
    }

    input
    {
        border-radius: 0 0 0 0;
        height: 2em;
        border-color: #F2F2F2;
        font-family: 'Raleway';
        font-weight: bold;
        box-shadow: none;
        outline: none;
    }

    #button_recherche
    {
        height: 2.2em;
        border-radius: 0 10px 10px 0;
        text-align: center;
        line-height: 0.2em;
        width: 7.6em;
        background-color: #0065FC;
    }

    .Rechercher
    {
        color: white;
        font-weight: bold;
    }

    #Filtres
    {
        display: flex;
        margin: 4em;
    }

    .appliquer_filtres
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 9em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    .logo_filtres
    {
        z-index: 1;
        position: relative;
        top : 0.3em;
        margin-left: 2em;
        height: 2.7em;
        background-color: #DEEBFF;
        text-align: center;
        width: 2.7em;
        border-radius: 50px 50px 50px 50px;
    }

    #appliquer_filtres_s
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 7em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_s:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 7em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    .appliquer_filtres:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 9em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_sp
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_sp:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #info
    {
        display: flex;
        margin: 4em;
    }

    #flex1, #flex2, #flex3, #flex4
    {
        display: flex;
    }

    #info_logo
    {
        position: relative;
        top : 0.5em;
        text-align: center;
        width: 1.7em;
        height: 1.7em;
        border-radius: 50px 50px 50px 50px;
        border : 2px solid #F2F2F2;
    }

    #info_txt
    {
        position: relative;
        left : 0.5em;
    }

    #mobile
    {
        display: flex;
    }

    #vue_ordi
    {
        display: flex;
        justify-content: space-around;
    }

    #partie_1
    {
        background-color: #F2F2F2;
        position: relative;
        padding-bottom: 2em;
        width: 30em;
        border-radius: 10px 10px 10px 10px;
        order: 2;
        padding-left: 4em;
        padding-right: 4em;
    }

    #titre_1
    {
        margin-left: 1em;
        display: flex;
        width: 98%;
        justify-content: space-between;
    }

    #balise_photo_xs
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
    }

    #balise_photo_xs_s
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        position: relative;
        top: 1em;
    }

    #balise_photo_xs_ss
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        position: relative;
        top: 2em;
        max-height: 140px;
    }

    .balise_photo_xs_partie2
    {
        text-align: center;
        z-index: 2;
        min-width: 57%;
        position: relative;
        right: 2em;
        background-color: white;
        border-radius: 0 10px 10px 0;
    }

    .balise_photo_xs_partie2:hover
    {
        text-align: center;
        z-index: 2;
        background-color: #DEEBFF;
    }

    h2 
    {
        font-size: 1em;
    }

    #logo_xs_matin
    {
        z-index: 1;
        max-width: 50%;
        max-height: 50%;
        border-radius: 10px 10px 10px 10px;
    }

    #logo_xs_eau
    {
        z-index: 1;
        max-width: 50%;
        max-height: 50%;
        border-radius: 10px 10px 10px 10px;
    }

    #logo_xs_bleu
    {
        z-index: 1;
        max-width: 50%;
        max-height: 50%;
        border-radius: 10px 10px 10px 10px;
    }

    #partie_2
    {
        background-color: #F2F2F2;
        padding-bottom: 6em;
        width: 70em;
        height: 30em;
        border-radius: 10px 10px 10px 10px;
        order: 1;
    }

    #flexbox_p2
    {
        display: flex;
        flex-wrap: wrap;
        margin-left: 4em;
    }

    #titre_2
    {
        margin-left: 4em;
    }

    #titre_4
    {
        margin-left: 1em;
    }

    #balise_photo_s
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        width: 18em;
    }

    .balise_photo_s_partie2
    {
        text-align: left;
        position: relative;
        bottom: 5.6em;
        background-color: white;
        width: 100%;
        height: 4.7em;
    }

    .balise_photo_s_partie2:hover
    {
        text-align: left;
        position: relative;
        bottom: 5.6em;
        background-color: #DEEBFF;
        width: 100%;
        height: 4.7em;
    }

    .logo_s_photo
    {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        bottom: 2em;
        border-radius: 10px 10px 10px 10px;
    }

    #logo_sp_photo
    {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        bottom: 13em;
    }
    
    #photo_p
    {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        position: relative;
        top: 2em;
    }

    .proche
    {
        position: relative;
        bottom: 1em;
    }

    .proche_1
    {
        position: relative;
        bottom: 1.7em;
    }

    #balise_photo_ss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        width: 18em;
    }

    #balise_photo_sss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        width: 18em;
    }

    #balise_photo_ssss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        width: 18em;
        position: relative;
        top: 2em;
    }

    #balise_photo_sssss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        width: 18em;
        position: relative;
        top: 2em;
    }


    #balise_photo_ssssss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        width: 18em;
        position: relative;
        top: 2em;
    }

    #balise_photo_sp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 35.4em;
        overflow: hidden;
        width: 26.5em;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_ssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 16.5em;
        overflow: hidden;
        width: 26.5em;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_sssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 16.5em;
        overflow: hidden;
        width: 26.5em;
        position: relative;
        top: 2em;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_ssssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 35.4em;
        overflow: hidden;
        width: 27em;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_sssssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 16.5em;
        overflow: hidden;
        width: 26.5em;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_ssssssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 16.5em;
        overflow: hidden;
        width: 26.5em;
        position: relative;
        top: 2em;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #titre_3
    {
        position: relative;
        top: 2em;
        left: 4em;
    }

    #partie_3
    {
        padding-bottom: 6em;
        padding-top: 2em;
        padding-left: 2em;
    }

    #partie_4
    {
        display: flex;
    }

    .balise_photo_s_partie3
    {
        text-align: left;
        position: relative;
        bottom: 5.1em;
        background-color: white;
        width: 100%;
        height: 4em;
    }

    .balise_photo_s_partie3:hover
    {
        text-align: left;
        position: relative;
        bottom: 5.1em;
        background-color: #DEEBFF;
        width: 100%;
        height: 4em;
    }

    .titre_p3
    {
        position: relative;
        top: 1em;
    }

    #balise_photo_sp_partie3
    {
        text-align: left;
        position: relative;
        bottom: 5.1em;
        background-color: white;
        width: 100%;
        height: 4.4em;
        border-radius: 0 0 10px 10px;
    }

    #balise_photo_sp_partie3:hover
    {
        text-align: left;
        position: relative;
        bottom: 5.1em;
        background-color: #DEEBFF;
        width: 100%;
        height: 4.4em;
        border-radius: 0 0 10px 10px;
    }

    footer
    {
        background-color: #F2F2F2;
        width: 101%;
        position: relative;
        right:0.5em;
        top: 2em;
    }

    #footer
    {
        margin: 2em;
        display: flex;
        justify-content: space-around;
    }

    .mv
    {
        position: relative;
        right: 13em;
    }

    footer p:hover
    {
        text-decoration: underline;
    }
}


@media screen and (max-width: 1199px)
{   h4
    {
        font-size: 1.4em;
    }

    #lien_pages a
    {
        padding : 0 3em 0 3em;
        border-bottom : 0.2em solid blue;
    }

    #lien_pages a:hover
    {
        padding : 0 3em 0 3em;
        border-bottom : 0.2em solid green;
    }

    body
    {
        width: 99%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #conteneur
    {
        position: relative;
        top: 0;
    }
    
    #image_logo
    {
        margin-left: 2em;
    }

    #titre
    {
        position: absolute;
        right: 2em;
        top: 1.3em;
    }

    #première_partie
    {
        display: flex;
    }

    #lien_pages
    {
        color:#000;
        text-decoration:none;
        font-size: 0.9em;
        display: flex;
        position: absolute;
        justify-content: space-around;
        width: 98%;
    }
    
    h1, p, a, h2, h4
    {
        font-family: 'Raleway';
    }

    #titre_header
    {
        margin: 1.5em;
        font-size: 1em;
    }

    #titre_gras
    {
        font-weight: bold;
        color: blue;
    }

    #barre_de_recherche
    {
        display: flex;
        margin: 2em;
    }

    #logo
    {
        background-color: #F2F2F2;
        text-align: center;
        width: 3em;
        border-radius: 10px 0 0 10px;
    }

    input
    {
        border-radius: 0 0 0 0;
        height: 2em;
        width: 10em;
        border-color: #F2F2F2;
        font-family: 'Raleway';
        font-weight: bold;
        box-shadow: none;
        outline: none;
    }

    #button_recherche
    {
        height: 2.2em;
        border-radius: 0 10px 10px 0;
        text-align: center;
        line-height: 0.2em;
        width: 7.6em;
        background-color: #0065FC;
    }

    .Rechercher
    {
        color: white;
        font-weight: bold;
    }

    #Filtres
    {
        margin-left: 1em;
    }

    #mobile
    {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        height: 10em;
    }

    .appliquer_filtres
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 8.2em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    .logo_filtres
    {
        z-index: 1;
        position: relative;
        top : 0.3em;
        height: 2.7em;
        background-color: #DEEBFF;
        text-align: center;
        width: 2.7em;
        border-radius: 50px 50px 50px 50px;
    }

    .appliquer_filtres:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 8.2em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_s
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 6em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_s:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 6em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_sp
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color: white;
        border : 2px solid #F2F2F2;
    }

    #appliquer_filtres_sp:hover
    {
        position: relative;
        top : 0.3em;
        right: 1.2em;
        height: 2.45em;
        border-radius: 0 50px 50px 0;
        text-align: center;
        line-height: 0.4em;
        width: 12em;
        background-color : #DEEBFF;
        border : 2px solid #F2F2F2;
    }

    #info
    {
        display: flex;
        margin: 1.5em;
    }

    #flex1, #flex2, #flex3, #flex4
    {
        display: flex;
    }

    #info_logo
    {
        position: relative;
        top : 0.5em;
        text-align: center;
        width: 2em;
        height: 1.5em;
        border-radius: 50px 50px 50px 50px;
        border : 2px solid #F2F2F2;
    }

    #info_txt
    {
        position: relative;
        left : 0.5em;
    }

    #partie_1
    {
        background-color:#F2F2F2;
        position: relative;
        right: 0.5em;
        padding-bottom: 2em;
        width: 101%;
    }

    #titre_1
    {
        margin-top: 2em;
        margin-left: 1em;
        display: flex;
        width: 98%;
        justify-content: space-between;
    }

    #balise_photo_xs
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        max-height: 140px;
    }

    #balise_photo_xs_s
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        position: relative;
        top: 0.5em;
        max-height: 140px;
    }

    #balise_photo_xs_ss
    {
        margin-right: 1em;
        margin-left: 1em;
        display: flex;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        z-index: 3;
        position: relative;
        top: 1em;
        max-height: 140px;
    }

    .balise_photo_xs_partie2
    {
        text-align: center;
        min-width: 60%;
        z-index: 2;
        position: relative;
        right: 2em;
        background-color: white;
        border-radius: 0 10px 10px 0;
    }

    .balise_photo_xs_partie2:hover
    {
        text-align: center;
        width: 98%;
        z-index: 2;
        position: relative;
        right: 2em;
        background-color: #DEEBFF;
    }

    h2 
    {
        font-size: 1.2em;
    }

    #logo_xs_matin
    {
        z-index: 1;
        max-width: 50%;
        max-height: 50%;
        border-radius: 10px 10px 10px 10px;
    }

    #logo_xs_eau
    {
        z-index: 1;
        max-width: 50%;
        max-height: 50%;
        border-radius: 10px 10px 10px 10px;
    }

    #logo_xs_bleu
    {
        z-index: 1;
        max-width: 50%;
        max-height: 50%;
        border-radius: 10px 10px 10px 10px;
    }

    #partie_2
    {
        padding-bottom: 6em;
        position: relative;
        right: 0.5em;
        width: 101%;
    }

    #titre_2, #titre_4
    {
        margin-left: 1em;
    }

    #balise_photo_s
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_sp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    .balise_photo_s_partie2
    {
        text-align: left;
        position: relative;
        bottom: 5.8em;
        background-color: white;
        width: 100%;
        height: 4.5em;
    }

    .balise_photo_s_partie2:hover
    {
        text-align: left;
        position: relative;
        bottom: 5.8em;
        background-color: #DEEBFF;
        width: 100%;
        height: 4.5em;
    }

    .logo_s_photo
    {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        bottom: 2em;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #logo_sp_photo
    {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        bottom: 15em;
    }
    
    #photo_p
    {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        position: relative;
        top: 2em;
    }

    .proche
    {
        position: relative;
        bottom: 1em;
    }

    .proche_1
    {
        position: relative;
        bottom: 1.7em;
    }

    #balise_photo_ss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 1em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_ssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 1em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_sss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 2em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_sssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 2em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_ssss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 3em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_ssssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 3em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_sssss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 4em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_sssssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 4em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }


    #balise_photo_ssssss
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border: solid;
        border-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 5em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #balise_photo_ssssssp
    {
        margin-right: 1em;
        margin-left: 1em;
        background-color: white;
        border-radius: 10px 10px 10px 10px;
        height: 12em;
        position: relative;
        top: 5em;
        overflow: hidden;
        box-shadow: 1px 1px 12px #b7aead;
    }

    #titre_3
    {
        margin-left: 1em;
        position: relative;
        top: 5em;
    }

    #partie_3
    {
        padding-bottom: 6em;
        position: relative;
        right: 0.5em;
        width: 101%;
    }

    .balise_photo_s_partie3
    {
        text-align: left;
        position: relative;
        bottom: 5.3em;
        background-color: white;
        width: 100%;
        height: 4em;
    }

    .balise_photo_s_partie3:hover
    {
        text-align: left;
        position: relative;
        bottom: 5.3em;
        background-color: #DEEBFF;
        width: 100%;
        height: 4em;
    }

    .titre_p3
    {
        position: relative;
        top: 1em;
    }

    #balise_photo_sp_partie3
    {
        text-align: left;
        position: relative;
        bottom: 5.3em;
        background-color: white;
        width: 100%;
        height: 4.4em;
        border-radius: 0 0 10px 10px;
    }

    #balise_photo_sp_partie3:hover
    {
        text-align: left;
        position: relative;
        bottom: 5.3em;
        background-color: #DEEBFF;
        width: 100%;
        height: 4.4em;
        border-radius: 0 0 10px 10px;
    }

    footer
    {
        background-color: #F2F2F2;
        width: 101%;
        position: relative;
        right:0.5em;
        padding-bottom: 4em;
    }

    #footer
    {
        background-color:#F2F2F2 ;
        margin: 2em;
        position: relative;
        top: 3em;
    }

    footer p:hover
    {
        text-decoration: underline;
    }
}